page-login {

}

/*Center logo*/
.logo {
	margin: 0 auto;
	display: block;
}

/*Space and realign buttons*/
/*ion-card ion-row {
	padding: 10px;
	float: right;

	/*Space between buttons*/
	/* SASS CARES ABOUT WHITESPACE! */
	/*div button:nth-of-type(1) {
		margin-right: 10px;
	}
}*/